/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~antd/dist/antd.less';

@import 'assets/variables.less';

body {
  position: relative;
  width: 100vw;
  font-family: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI',
    -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  margin: 0;
}

#root,
.app {
  width: 100%;
}

.app {
  max-width: calc(100vw - 20px);
  padding: 8px 10px;
  min-height: 100vh;
}

.page {
  margin: 20px 40px;
}
